*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100% - 80px);
  display: flex;
  position: relative;
}
/*typo*/
ul {
  list-style: none;

}

p {
  font-size: 12px;
  color: #75777C;
  font-weight: 600;
  padding-top: 7px;
}
a {
  text-decoration: none;
}
/* /typo*/
aside {
  height: 100%;
  width: 220px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo img {
  width: 130px;
  margin: 30px 20px;
}
.first-nav ul {
  padding-left: 20px;
}

.first-nav li {
  display: flex;
  padding-bottom: 10px;
}
.first-nav li img {
  max-width: 27px;
  margin-right: 5px;
}



.nav-playlist h3 {
  color: #fff;
}
.nav-playlist {
  padding-left: 20px;
  margin: 30px 0;
  overflow: hidden;
}

.nav-playlist ul {
  height: 100%;
  overflow-y: auto;
}
.new__playlist {
  display: flex;
  align-items: center;
  margin: 20px 0 ;
}
.btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin-right: 10px;
}

.nav-playlist li{
  padding-top: 10px;
}
.nav-playlist a {
  color: #717171;
  font-size: 12px;
  font-weight: 600;
}



.profile {
  margin-left: 20px;

}
.profile h2 {
  color: #fff;
}

.upgrade {
  width: calc(100% - 220px);
  height: 80px;
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade__btn a {
  color: #fff;
  padding: 12px 40px; ;
  margin-right: 30px;
  border:none;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: transparent;
}

/*stile layout del main */
.container {
  color: #fff;
  width: calc(100% - 220px);
  overflow: auto;
  padding-top: 80px;
}

.container__margin {
  margin-left: 10px;
}
.container__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container__nav li  {
  display: inline-block;
  padding: 20px 10px;
}

.container__nav a {
  color: #75777C;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.container__recently {
  margin: 40px 20px;
}

.album__container {
  display: flex;
  margin-top: 30px;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

}

.album__container img {
  width: 100%;
  padding-bottom: 10px;
}
.album__container h3 {
  font-size: 16px;
}

.album__item {
  flex-basis: calc((100% / 6) - 13px);
  text-align: center;
}

#made-for__flex {
  justify-content: flex-start;

}
.suggests {
  margin-top: 50px;
}
/*stile layout del main */

.made-for__item {
  margin-right: 15px;
}

.item--circle {
  border-radius: 50%;
  overflow: hidden;
}
footer {
  background-color: #282828;
  height: 80px;
  width: 100%;
  position:fixed;
  bottom: 0;
}

/*responsive*/

@media screen and (max-width: 768px)  {
  .container__nav {
    margin-left: 10px;
  }
  .album__item {
    flex-basis: calc((100% / 2) - 13px);
    text-align: center;
    margin-bottom: 20px;
  }
  #made-for__flex {
    flex-wrap: nowrap;
  }

}
